In [1]:
# install necessary libraries
! pip install pandas numpy tabulate

Requirement already satisfied: pandas in c:\users\danie\.conda\envs\movies\lib\site-packages (1.5.3)
Requirement already satisfied: numpy in c:\users\danie\.conda\envs\movies\lib\site-packages (1.23.5)
Requirement already satisfied: tabulate in c:\users\danie\.conda\envs\movies\lib\site-packages (0.9.0)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\danie\.conda\envs\movies\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\danie\.conda\envs\movies\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: six>=1.5 in c:\users\danie\.conda\envs\movies\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
# import libraries
import pandas as pd

In [3]:
# load dataset
df = pd.read_csv("movies.csv")

In [4]:
# data types of columns and missing values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   MOVIES    9999 non-null   object
 1   YEAR      9355 non-null   object
 2   GENRE     9919 non-null   object
 3   RATING    8179 non-null   float64
 4   ONE-LINE  9999 non-null   object
 5   STARS     9999 non-null   object
 6   VOTES     8179 non-null   object
 7   RunTime   7041 non-null   float64
 8   Gross     460 non-null    object
dtypes: float64(2), object(7)
memory usage: 703.2+ KB

In [5]:
# percentage of missing values
df.isnull().sum() / df.shape[0]*100

MOVIES       0.000000
YEAR         6.440644
GENRE        0.800080
RATING      18.201820
ONE-LINE     0.000000
STARS        0.000000
VOTES       18.201820
RunTime     29.582958
Gross       95.399540
dtype: float64

In [6]:
#remove "\n
for col in ['GENRE', 'ONE-LINE', 'STARS']:
    df[col] = df[col].str.replace("\n","").str.strip()

In [7]:
df.head()

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,(2021),"Action, Horror, Thriller",6.1,A woman with a mysterious illness is forced in...,Director:Peter Thorwarth| Stars:Peri Baume...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,(2021– ),"Animation, Action, Adventure",5.0,The war for Eternia begins again in what may b...,"Stars:Chris Wood, Sarah Michelle Gellar, Lena ...","17,870",25.0,NaN
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",8.2,Sheriff Deputy Rick Grimes wakes up from a com...,"Stars:Andrew Lincoln, Norman Reedus, Melissa M...","885,805",44.0,NaN
3,Rick and Morty,(2013– ),"Animation, Adventure, Comedy",9.2,An animated series that follows the exploits o...,"Stars:Justin Roiland, Chris Parnell, Spencer G...","414,849",23.0,NaN
4,Army of Thieves,(2021),"Action, Crime, Horror",NaN,"A prequel, set before the events of Army of th...",Director:Matthias Schweighöfer| Stars:Matt...,NaN,NaN,NaN

In [8]:
#extract directors
def get_director(director):
    if 'Director' in director or 'Directors' in director:
        directors = director.strip().split("|")[0]
        return  directors.split(":")[1]
    else:
        return ''
df['Director'] = df['STARS'].apply(lambda d: get_director(d))

In [9]:
#extract stars
def get_star(star):
    if 'Star' in star or 'Stars' in star:
        return star.split(':')[-1]
    else:
        return ''

df['Stars'] = df['STARS'].apply(lambda s: get_star(s))

In [10]:
df[['STARS','Director','Stars']].head()

,STARS,Director,Stars
0,Director:Peter Thorwarth| Stars:Peri Baume...,Peter Thorwarth,"Peri Baumeister, Carl Anton Koch, Alexander Sc..."
1,"Stars:Chris Wood, Sarah Michelle Gellar, Lena ...",,"Chris Wood, Sarah Michelle Gellar, Lena Headey..."
2,"Stars:Andrew Lincoln, Norman Reedus, Melissa M...",,"Andrew Lincoln, Norman Reedus, Melissa McBride..."
3,"Stars:Justin Roiland, Chris Parnell, Spencer G...",,"Justin Roiland, Chris Parnell, Spencer Grammer..."
4,Director:Matthias Schweighöfer| Stars:Matt...,Matthias Schweighöfer,"Matthias Schweighöfer, Nathalie Emmanuel, Ruby..."

In [11]:
#extracting year
df['Year'] = df['YEAR'].str.extract(r'([0-9]{4}-.*|[0-9]{4})')
df['Year']= df['Year'].str.strip().replace(")","")
df['Year']

0       2021
1       2021
2       2010
3       2013
4       2021
        ...
9994    2021
9995    2021
9996    2022
9997    2021
9998    2021
Name: Year, Length: 9999, dtype: object

In [12]:
#drop gross column
df = df.drop('Gross', axis=1)
df.dropna()

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Director,Stars,Year
0,Blood Red Sky,(2021),"Action, Horror, Thriller",6.1,A woman with a mysterious illness is forced in...,Director:Peter Thorwarth| Stars:Peri Baume...,"21,062",121.0,Peter Thorwarth,"Peri Baumeister, Carl Anton Koch, Alexander Sc...",2021
1,Masters of the Universe: Revelation,(2021– ),"Animation, Action, Adventure",5.0,The war for Eternia begins again in what may b...,"Stars:Chris Wood, Sarah Michelle Gellar, Lena ...","17,870",25.0,,"Chris Wood, Sarah Michelle Gellar, Lena Headey...",2021
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",8.2,Sheriff Deputy Rick Grimes wakes up from a com...,"Stars:Andrew Lincoln, Norman Reedus, Melissa M...","885,805",44.0,,"Andrew Lincoln, Norman Reedus, Melissa McBride...",2010
3,Rick and Morty,(2013– ),"Animation, Adventure, Comedy",9.2,An animated series that follows the exploits o...,"Stars:Justin Roiland, Chris Parnell, Spencer G...","414,849",23.0,,"Justin Roiland, Chris Parnell, Spencer Grammer...",2013
5,Outer Banks,(2020– ),"Action, Crime, Drama",7.6,A group of teenagers from the wrong side of th...,"Stars:Chase Stokes, Madelyn Cline, Madison Bai...","25,858",50.0,,"Chase Stokes, Madelyn Cline, Madison Bailey, J...",2020
...,...,...,...,...,...,...,...,...,...,...,...
9959,Sexify,(2021– ),"Comedy, Drama",6.8,"Monika's idea for gathering data is a hit, but...",Director:Kalina Alabrudzinska| Stars:Aleks...,108,38.0,Kalina Alabrudzinska,"Aleksandra Skraba, Maria Sobocinska, Sandra Dr...",2021
9960,Sexify,(2021– ),"Comedy, Drama",7.1,After facing their parents at Easter breakfast...,Director:Kalina Alabrudzinska| Stars:Aleks...,103,37.0,Kalina Alabrudzinska,"Aleksandra Skraba, Maria Sobocinska, Sandra Dr...",2021
9961,Sexify,(2021– ),"Comedy, Drama",6.9,After getting an anonymous tip about the copul...,Director:Kalina Alabrudzinska| Stars:Aleks...,96,40.0,Kalina Alabrudzinska,"Aleksandra Skraba, Maria Sobocinska, Sandra Dr...",2021
9962,Sexify,(2021– ),"Comedy, Drama",7.1,The big pitch at the university tech competiti...,Director:Kalina Alabrudzinska| Stars:Aleks...,100,47.0,Kalina Alabrudzinska,"Aleksandra Skraba, Maria Sobocinska, Sandra Dr...",2021
9963,Castlevania,(2017–2021),"Animation, Action, Adventure",8.2,Lenore urges Hector to not test Camilla's pati...,Director:Sam Deats| Stars:Richard Armitage...,911,24.0,Sam Deats,"Richard Armitage, James Callis, Alejandra Reyn...",2017

In [13]:
new_df = df.loc[:,['MOVIES', 'GENRE', 'Director', 'VOTES']]
print(new_df.head(30).to_markdown())

|    | MOVIES                                 | GENRE                        | Director              | VOTES     |
|---:|:---------------------------------------|:-----------------------------|:----------------------|:----------|
|  0 | Blood Red Sky                          | Action, Horror, Thriller     | Peter Thorwarth       | 21,062    |
|  1 | Masters of the Universe: Revelation    | Animation, Action, Adventure |                       | 17,870    |
|  2 | The Walking Dead                       | Drama, Horror, Thriller      |                       | 885,805   |
|  3 | Rick and Morty                         | Animation, Adventure, Comedy |                       | 414,849   |
|  4 | Army of Thieves                        | Action, Crime, Horror        | Matthias Schweighöfer | nan       |
|  5 | Outer Banks                            | Action, Crime, Drama         |                       | 25,858    |
|  6 | The Last Letter from Your Lover        | Drama, Romance               | Augustine Frizzell    | 5,283     |
|  7 | Dexter                                 | Crime, Drama, Mystery        |                       | 665,387   |
|  8 | Never Have I Ever                      | Comedy                       |                       | 34,530    |
|  9 | Virgin River                           | Drama, Romance               |                       | 27,279    |
| 10 | Gunpowder Milkshake                    | Action, Adventure, Thriller  | Navot Papushado       | 17,989    |
| 11 | Lucifer                                | Crime, Drama, Fantasy        |                       | 264,222   |
| 12 | Fear Street: 1994                      | Drama, Horror, Mystery       | Leigh Janiak          | 50,148    |
| 13 | Sex/Life                               | Comedy, Drama, Romance       |                       | 12,172    |
| 14 | American Horror Story                  | Drama, Horror, Thriller      |                       | 286,488   |
| 15 | Grey's Anatomy                         | Drama, Romance               |                       | 266,258   |
| 16 | Breaking Bad                           | Crime, Drama, Thriller       |                       | 1,552,311 |
| 17 | The Good Doctor                        | Drama                        |                       | 70,871    |
| 18 | Atypical                               | Comedy, Drama                |                       | 71,544    |
| 19 | Stranger Things                        | Drama, Fantasy, Horror       |                       | 885,856   |
| 20 | Fear Street: 1978                      | Drama, Horror, Mystery       | Leigh Janiak          | 36,634    |
| 21 | Friends                                | Comedy, Romance              |                       | 880,918   |
| 22 | The Flash                              | Action, Adventure, Drama     |                       | 320,264   |
| 23 | Peaky Blinders                         | Crime, Drama                 |                       | 393,414   |
| 24 | He-Man and the Masters of the Universe | Animation, Action, Adventure |                       | nan       |
| 25 | Chernobyl                              | Drama, History, Romance      | Danila Kozlovskiy     | 4,681     |
| 26 | Vikings                                | Action, Adventure, Drama     |                       | 459,913   |
| 27 | Better Call Saul                       | Crime, Drama                 |                       | 347,857   |
| 28 | Supernatural                           | Drama, Fantasy, Horror       |                       | 404,273   |
| 29 | The Blacklist                          | Crime, Drama, Mystery        |                       | 213,522   |

In [18]:
# fill null ratings with 0
df['RATING'] = df['RATING'].fillna(0)

# fill null votes with zero

df['VOTES'] = df['VOTES'].fillna(0)

# fill null runtime with 0s
df['RunTime'] = df['RunTime'].fillna(0)

# fill missing years with unknown
df['Year'] = df['Year'].fillna('unknown')

In [19]:
df.head(20)

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Director,Stars,Year
0,Blood Red Sky,(2021),"Action, Horror, Thriller",6.1,A woman with a mysterious illness is forced in...,Director:Peter Thorwarth| Stars:Peri Baume...,"21,062",121.0,Peter Thorwarth,"Peri Baumeister, Carl Anton Koch, Alexander Sc...",2021
1,Masters of the Universe: Revelation,(2021– ),"Animation, Action, Adventure",5.0,The war for Eternia begins again in what may b...,"Stars:Chris Wood, Sarah Michelle Gellar, Lena ...","17,870",25.0,,"Chris Wood, Sarah Michelle Gellar, Lena Headey...",2021
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",8.2,Sheriff Deputy Rick Grimes wakes up from a com...,"Stars:Andrew Lincoln, Norman Reedus, Melissa M...","885,805",44.0,,"Andrew Lincoln, Norman Reedus, Melissa McBride...",2010
3,Rick and Morty,(2013– ),"Animation, Adventure, Comedy",9.2,An animated series that follows the exploits o...,"Stars:Justin Roiland, Chris Parnell, Spencer G...","414,849",23.0,,"Justin Roiland, Chris Parnell, Spencer Grammer...",2013
4,Army of Thieves,(2021),"Action, Crime, Horror",0.0,"A prequel, set before the events of Army of th...",Director:Matthias Schweighöfer| Stars:Matt...,0,0.0,Matthias Schweighöfer,"Matthias Schweighöfer, Nathalie Emmanuel, Ruby...",2021
5,Outer Banks,(2020– ),"Action, Crime, Drama",7.6,A group of teenagers from the wrong side of th...,"Stars:Chase Stokes, Madelyn Cline, Madison Bai...","25,858",50.0,,"Chase Stokes, Madelyn Cline, Madison Bailey, J...",2020
6,The Last Letter from Your Lover,(2021),"Drama, Romance",6.8,A pair of interwoven stories set in the past a...,Director:Augustine Frizzell| Stars:Shailen...,"5,283",110.0,Augustine Frizzell,"Shailene Woodley, Joe Alwyn, Wendy Nottingham,...",2021
7,Dexter,(2006–2013),"Crime, Drama, Mystery",8.6,"By day, mild-mannered Dexter is a blood-spatte...","Stars:Michael C. Hall, Jennifer Carpenter, Dav...","665,387",53.0,,"Michael C. Hall, Jennifer Carpenter, David Zay...",2006
8,Never Have I Ever,(2020– ),Comedy,7.9,The complicated life of a modern-day first gen...,"Stars:Maitreyi Ramakrishnan, Poorna Jagannatha...","34,530",30.0,,"Maitreyi Ramakrishnan, Poorna Jagannathan, Dar...",2020
9,Virgin River,(2019– ),"Drama, Romance",7.4,"Seeking a fresh start, nurse practitioner Meli...","Stars:Alexandra Breckenridge, Martin Henderson...","27,279",44.0,,"Alexandra Breckenridge, Martin Henderson, Coli...",2019
10,Gunpowder Milkshake,(2021),"Action, Adventure, Thriller",6.0,Three generations of women fight back against ...,Director:Navot Papushado| Stars:Karen Gill...,"17,989",114.0,Navot Papushado,"Karen Gillan, Lena Headey, Carla Gugino, Miche...",2021
11,Lucifer,(2016–2021),"Crime, Drama, Fantasy",8.1,Lucifer Morningstar has decided he's had enoug...,"Stars:Tom Ellis, Lesley-Ann Brandt, Lauren Ger...","264,222",42.0,,"Tom Ellis, Lesley-Ann Brandt, Lauren German, D...",2016
12,Fear Street: 1994,(2021),"Drama, Horror, Mystery",6.2,A circle of teenage friends accidentally encou...,Director:Leigh Janiak| Stars:Kiana Madeira...,"50,148",107.0,Leigh Janiak,"Kiana Madeira, Olivia Scott Welch, Benjamin Fl...",2021
13,Sex/Life,(2021– ),"Comedy, Drama, Romance",5.4,A suburban mother of two takes a fantasy-charg...,"Stars:Sarah Shahi, Mike Vogel, Adam Demos, Mar...","12,172",0.0,,"Sarah Shahi, Mike Vogel, Adam Demos, Margaret ...",2021
14,American Horror Story,(2011– ),"Drama, Horror, Thriller",8.0,An anthology series centering on different cha...,"Stars:Lady Gaga, Kathy Bates, Angela Bassett, ...","286,488",60.0,,"Lady Gaga, Kathy Bates, Angela Bassett, Sarah ...",2011
15,Grey's Anatomy,(2005– ),"Drama, Romance",7.5,A drama centered on the personal and professio...,"Stars:Ellen Pompeo, Chandra Wilson, James Pick...","266,258",41.0,,"Ellen Pompeo, Chandra Wilson, James Pickens Jr...",2005
16,Breaking Bad,(2008–2013),"Crime, Drama, Thriller",9.4,A high school chemistry teacher diagnosed with...,"Stars:Bryan Cranston, Aaron Paul, Anna Gunn, B...","1,552,311",49.0,,"Bryan Cranston, Aaron Paul, Anna Gunn, Betsy B...",2008
17,The Good Doctor,(2017– ),Drama,8.1,"Shaun Murphy, a young surgeon with autism and ...","Stars:Freddie Highmore, Hill Harper, Richard S...","70,871",41.0,,"Freddie Highmore, Hill Harper, Richard Schiff,...",2017
18,Atypical,(2017–2021),"Comedy, Drama",8.3,"Sam, an 18-year-old on the autism spectrum, de...","Stars:Jennifer Jason Leigh, Keir Gilchrist, Br...","71,544",30.0,,"Jennifer Jason Leigh, Keir Gilchrist, Brigette...",2017
19,Stranger Things,(2016– ),"Drama, Fantasy, Horror",8.7,"When a young boy disappears, his mother, a pol...","Stars:Millie Bobby Brown, Finn Wolfhard, Winon...","885,856",51.0,,"Millie Bobby Brown, Finn Wolfhard, Winona Ryde...",2016

In [16]:
df.describe()

            RATING      RunTime
count  9999.000000  9999.000000
mean      5.661396    48.368437
std       2.889766    50.552195
min       0.000000     0.000000
25%       5.100000     0.000000
50%       6.700000    42.000000
75%       7.600000    86.000000
max       9.900000   853.000000

# DATA VISUALIZATION