In [92]:
# install necessary libraries
! pip install pandas numpy tabulate

Requirement already satisfied: pandas in c:\users\danie\.conda\envs\movies\lib\site-packages (1.5.3)
Requirement already satisfied: numpy in c:\users\danie\.conda\envs\movies\lib\site-packages (1.23.5)
Collecting tabulate
  Downloading tabulate-0.9.0-py3-none-any.whl (35 kB)
Requirement already satisfied: pytz>=2020.1 in c:\users\danie\.conda\envs\movies\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\danie\.conda\envs\movies\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\danie\.conda\envs\movies\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: tabulate
Successfully installed tabulate-0.9.0

In [93]:
# import libraries
import pandas as pd

In [94]:
# load dataset
df = pd.read_csv("movies.csv")

In [95]:
# data types of columns and missing values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   MOVIES    9999 non-null   object
 1   YEAR      9355 non-null   object
 2   GENRE     9919 non-null   object
 3   RATING    8179 non-null   float64
 4   ONE-LINE  9999 non-null   object
 5   STARS     9999 non-null   object
 6   VOTES     8179 non-null   object
 7   RunTime   7041 non-null   float64
 8   Gross     460 non-null    object
dtypes: float64(2), object(7)
memory usage: 703.2+ KB

In [96]:
# percentage of missing values
df.isnull().sum() / df.shape[0]*100

MOVIES       0.000000
YEAR         6.440644
GENRE        0.800080
RATING      18.201820
ONE-LINE     0.000000
STARS        0.000000
VOTES       18.201820
RunTime     29.582958
Gross       95.399540
dtype: float64

In [97]:
#remove "\n
for col in ['GENRE', 'ONE-LINE', 'STARS']:
    df[col] = df[col].str.replace("\n","").str.strip()

In [98]:
df.head()

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,(2021),"Action, Horror, Thriller",6.1,A woman with a mysterious illness is forced in...,Director:Peter Thorwarth| Stars:Peri Baume...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,(2021– ),"Animation, Action, Adventure",5.0,The war for Eternia begins again in what may b...,"Stars:Chris Wood, Sarah Michelle Gellar, Lena ...","17,870",25.0,NaN
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",8.2,Sheriff Deputy Rick Grimes wakes up from a com...,"Stars:Andrew Lincoln, Norman Reedus, Melissa M...","885,805",44.0,NaN
3,Rick and Morty,(2013– ),"Animation, Adventure, Comedy",9.2,An animated series that follows the exploits o...,"Stars:Justin Roiland, Chris Parnell, Spencer G...","414,849",23.0,NaN
4,Army of Thieves,(2021),"Action, Crime, Horror",NaN,"A prequel, set before the events of Army of th...",Director:Matthias Schweighöfer| Stars:Matt...,NaN,NaN,NaN

In [99]:
#extract directors
def get_director(director):
    if 'Director' in director or 'Directors' in director:
        directors = director.strip().split("|")[0]
        return  directors.split(":")[1]
    else:
        return ''
df['Director'] = df['STARS'].apply(lambda d: get_director(d))

In [100]:
#extract stars
def get_star(star):
    if 'Star' in star or 'Stars' in star:
        return star.split(':')[-1]
    else:
        return ''

df['Stars'] = df['STARS'].apply(lambda s: get_star(s))

In [101]:
df[['STARS','Director','Stars']].head()

,STARS,Director,Stars
0,Director:Peter Thorwarth| Stars:Peri Baume...,Peter Thorwarth,"Peri Baumeister, Carl Anton Koch, Alexander Sc..."
1,"Stars:Chris Wood, Sarah Michelle Gellar, Lena ...",,"Chris Wood, Sarah Michelle Gellar, Lena Headey..."
2,"Stars:Andrew Lincoln, Norman Reedus, Melissa M...",,"Andrew Lincoln, Norman Reedus, Melissa McBride..."
3,"Stars:Justin Roiland, Chris Parnell, Spencer G...",,"Justin Roiland, Chris Parnell, Spencer Grammer..."
4,Director:Matthias Schweighöfer| Stars:Matt...,Matthias Schweighöfer,"Matthias Schweighöfer, Nathalie Emmanuel, Ruby..."

In [102]:
#extracting year
df['Year'] = df['YEAR'].str.extract(r'([0-9]{4}-.*|[0-9]{4})')
df['Year']= df['Year'].str.strip().replace(")","")
df['Year']

0       2021
1       2021
2       2010
3       2013
4       2021
        ...
9994    2021
9995    2021
9996    2022
9997    2021
9998    2021
Name: Year, Length: 9999, dtype: object

In [103]:
#drop gross column
df = df.drop('Gross', axis=1)
df.dropna()

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Director,Stars,Year
0,Blood Red Sky,(2021),"Action, Horror, Thriller",6.1,A woman with a mysterious illness is forced in...,Director:Peter Thorwarth| Stars:Peri Baume...,"21,062",121.0,Peter Thorwarth,"Peri Baumeister, Carl Anton Koch, Alexander Sc...",2021
1,Masters of the Universe: Revelation,(2021– ),"Animation, Action, Adventure",5.0,The war for Eternia begins again in what may b...,"Stars:Chris Wood, Sarah Michelle Gellar, Lena ...","17,870",25.0,,"Chris Wood, Sarah Michelle Gellar, Lena Headey...",2021
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",8.2,Sheriff Deputy Rick Grimes wakes up from a com...,"Stars:Andrew Lincoln, Norman Reedus, Melissa M...","885,805",44.0,,"Andrew Lincoln, Norman Reedus, Melissa McBride...",2010
3,Rick and Morty,(2013– ),"Animation, Adventure, Comedy",9.2,An animated series that follows the exploits o...,"Stars:Justin Roiland, Chris Parnell, Spencer G...","414,849",23.0,,"Justin Roiland, Chris Parnell, Spencer Grammer...",2013
5,Outer Banks,(2020– ),"Action, Crime, Drama",7.6,A group of teenagers from the wrong side of th...,"Stars:Chase Stokes, Madelyn Cline, Madison Bai...","25,858",50.0,,"Chase Stokes, Madelyn Cline, Madison Bailey, J...",2020
...,...,...,...,...,...,...,...,...,...,...,...
9959,Sexify,(2021– ),"Comedy, Drama",6.8,"Monika's idea for gathering data is a hit, but...",Director:Kalina Alabrudzinska| Stars:Aleks...,108,38.0,Kalina Alabrudzinska,"Aleksandra Skraba, Maria Sobocinska, Sandra Dr...",2021
9960,Sexify,(2021– ),"Comedy, Drama",7.1,After facing their parents at Easter breakfast...,Director:Kalina Alabrudzinska| Stars:Aleks...,103,37.0,Kalina Alabrudzinska,"Aleksandra Skraba, Maria Sobocinska, Sandra Dr...",2021
9961,Sexify,(2021– ),"Comedy, Drama",6.9,After getting an anonymous tip about the copul...,Director:Kalina Alabrudzinska| Stars:Aleks...,96,40.0,Kalina Alabrudzinska,"Aleksandra Skraba, Maria Sobocinska, Sandra Dr...",2021
9962,Sexify,(2021– ),"Comedy, Drama",7.1,The big pitch at the university tech competiti...,Director:Kalina Alabrudzinska| Stars:Aleks...,100,47.0,Kalina Alabrudzinska,"Aleksandra Skraba, Maria Sobocinska, Sandra Dr...",2021
9963,Castlevania,(2017–2021),"Animation, Action, Adventure",8.2,Lenore urges Hector to not test Camilla's pati...,Director:Sam Deats| Stars:Richard Armitage...,911,24.0,Sam Deats,"Richard Armitage, James Callis, Alejandra Reyn...",2017

In [128]:
new_df = df.loc[:,['MOVIES', 'GENRE', 'Director', 'VOTES']]
print(new_df.head(30).to_markdown())

|    | MOVIES                                 | GENRE                        | Director              | VOTES     |
|---:|:---------------------------------------|:-----------------------------|:----------------------|:----------|
|  0 | Blood Red Sky                          | Action, Horror, Thriller     | Peter Thorwarth       | 21,062    |
|  1 | Masters of the Universe: Revelation    | Animation, Action, Adventure |                       | 17,870    |
|  2 | The Walking Dead                       | Drama, Horror, Thriller      |                       | 885,805   |
|  3 | Rick and Morty                         | Animation, Adventure, Comedy |                       | 414,849   |
|  4 | Army of Thieves                        | Action, Crime, Horror        | Matthias Schweighöfer | nan       |
|  5 | Outer Banks                            | Action, Crime, Drama         |                       | 25,858    |
|  6 | The Last Letter from Your Lover        | Drama, Romance               | Augustine Frizzell    | 5,283     |
|  7 | Dexter                                 | Crime, Drama, Mystery        |                       | 665,387   |
|  8 | Never Have I Ever                      | Comedy                       |                       | 34,530    |
|  9 | Virgin River                           | Drama, Romance               |                       | 27,279    |
| 10 | Gunpowder Milkshake                    | Action, Adventure, Thriller  | Navot Papushado       | 17,989    |
| 11 | Lucifer                                | Crime, Drama, Fantasy        |                       | 264,222   |
| 12 | Fear Street: 1994                      | Drama, Horror, Mystery       | Leigh Janiak          | 50,148    |
| 13 | Sex/Life                               | Comedy, Drama, Romance       |                       | 12,172    |
| 14 | American Horror Story                  | Drama, Horror, Thriller      |                       | 286,488   |
| 15 | Grey's Anatomy                         | Drama, Romance               |                       | 266,258   |
| 16 | Breaking Bad                           | Crime, Drama, Thriller       |                       | 1,552,311 |
| 17 | The Good Doctor                        | Drama                        |                       | 70,871    |
| 18 | Atypical                               | Comedy, Drama                |                       | 71,544    |
| 19 | Stranger Things                        | Drama, Fantasy, Horror       |                       | 885,856   |
| 20 | Fear Street: 1978                      | Drama, Horror, Mystery       | Leigh Janiak          | 36,634    |
| 21 | Friends                                | Comedy, Romance              |                       | 880,918   |
| 22 | The Flash                              | Action, Adventure, Drama     |                       | 320,264   |
| 23 | Peaky Blinders                         | Crime, Drama                 |                       | 393,414   |
| 24 | He-Man and the Masters of the Universe | Animation, Action, Adventure |                       | nan       |
| 25 | Chernobyl                              | Drama, History, Romance      | Danila Kozlovskiy     | 4,681     |
| 26 | Vikings                                | Action, Adventure, Drama     |                       | 459,913   |
| 27 | Better Call Saul                       | Crime, Drama                 |                       | 347,857   |
| 28 | Supernatural                           | Drama, Fantasy, Horror       |                       | 404,273   |
| 29 | The Blacklist                          | Crime, Drama, Mystery        |                       | 213,522   |

In [105]:
df.describe()

            RATING      RunTime
count  8179.000000  7041.000000
mean      6.921176    68.688539
std       1.220232    47.258056
min       1.100000     1.000000
25%       6.200000    36.000000
50%       7.100000    60.000000
75%       7.800000    95.000000
max       9.900000   853.000000